.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form__left {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

.form__img {
    width: 312px;
    height: 170px;
    margin-bottom: 100px;
}

.form__forgot {
    display: flex;
    flex-direction: column;
    // margin: auto;
}

.backIcon {
    color: #008dff;
    width: 8.56px;
    height: 15px;
    padding-right: 16px;
}

.backBtn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #008dff;
    text-align: left;
    display: flex;
    margin-bottom: 30px;
}

.formTitle {
    color: #041967;
    margin: 0;
    width: 312px;
    text-align: left;
}
