.form-control {
    position: relative;
}

.form__left--password {
    position: absolute;
    top: 40%;
    left: -20px;
}

.form__left--email {
    position: absolute;
    top: -69%;
    left: -20px;
}
